.booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

.booking-form input, .booking-form select, .booking-form button {
    margin-top: 8px;
    padding: 8px;
    font-size: 0.9rem;
    width: 75%;
}

.booking-form button {
    margin-top: 8px;
    padding: 8px;
    font-size: 0.9rem;
    width: 75%;
}

.booking-form select {
    cursor: pointer;
}

.booking-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #0056b3;
}

.booking-form .form-group {
    margin-bottom: 15px;
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .booking-form input[readOnly] {
    background-color: #e9ecef;
    color: #495057;
  }
  